.overlay {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    animation: animateOverlay 5s ease-in-out infinite;
}

@keyframes animateOverlay {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 300vh; /* Use full height of the viewport */
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}
h2{
    font-size: 60px;
    text-align: center;
    justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: "Pacifico", cursive;
   color: #db7b0e;
   font-weight: bold;
}
.container {
    position: fixed; /* or use absolute if you want it relative to a parent */
    bottom: 100px; /* Adjust this value to set how far from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 10; /* Ensure it is above other content */
    text-align: center; /* Center the text inside the container */
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #060504; /* A deep blue color */
    text-align: center;
}

.btn {
    padding: 15px 30px; /* Adjusted padding for better button size */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px; /* Reduced margin for better spacing */
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button Variants */
.btn-primary {
    background-color: #0eabdb;
    color: #fff;
    border: 2px solid #f2f2f2;
}

.btn-secondary {
    background-color: #db7b0e;
    color: #fff;
    border: 2px solid #f2f2f2;
}

/* Button Hover and Active States */
.btn-primary:hover {
    background-color: #1a5dbc;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover {
    background-color: #c0392b;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
    background-color: #1a5dbc;
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-secondary:active {
    background-color: #8e44ad;
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Icon Styles */
.icon {
    font-size: 24px;
    margin-right: 10px;
}



/* Pulse Animation */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 2s infinite;
}


