/* Global Styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #db7b0e;
}

h1 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-top: 50px;
}

/* Form Styles */

#order-form {
  background-color: #fff;
  padding: 20px 65px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 1.2rem;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #db7b0e;
  outline: none;
}

.input_field {
  text-align: center;
}

input[type="submit"] {
  background-color: #db7b0e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #c56a0a;
}

/* Keyboard Styles */

.keyboard {
  
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  box-shadow: 0 -2px 5px rgba(78, 76, 76, 0.2);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

button {
  color: #000;
  width: 55px;
  height: 55px;
  border: none;
  background: #db7b0e;
  box-shadow: 5px 5px 10px #474343, -5px -5px 10px #fff;
  font-size: 20px;
  margin: 0 5px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20%;
  transition: box-shadow 0.2s;
}

button:active {
  box-shadow: 1px 1px 2px #fff8f8, -1px -1px 2px #474343;
}

/* Button Variations */

.back {
  width: 115px;
  border-radius: 10px;
}

.tab {
  width: 80px;
  border-radius: 10px;
}

.slace {
  width: 92px;
  border-radius: 10px;
}

.cap {
  width: 100px;
  border-radius: 10px;
}

.ent-btn {
  width: 135px;
  border-radius: 10px;
}

.shift {
  width: 150px;
  border-radius: 10px;
}

.other {
  width: 82px;
  border-radius: 10px;
}

.space {
  width: 406px;
  border-radius: 10px;
}

/* Cart Styles */

.cart-container {
  width: 400px;
  height: 500px;
  position: absolute;
  border-radius: 20px;
  left: 1%;
  top: 2%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: table;
  border-collapse: collapse;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #5e5346;
  background-color: #f7f7f7;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 80px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-total {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  padding: 10px;
  font-weight: bold;
  background-color: #f7f7f7;
}

.cart-item span, .cart-total span {
  text-align: center;
}

.cart-header h2, .cart-item span, .cart-total span {
  font-size: 1.3rem;
}

.cart-total span {
  font-size: 1.5rem;
}

.cart-header, .cart-item, .cart-total {
  padding: 20px;
  border: 1px solid #ddd;
}



.order-type-container {
  background-color: #f7f7f7;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.order-type-container label {
  display:inline-block;
  margin-right: 20px;
  font-weight: bold;
  color: #db7b0e;
}

.order-type-container input[type="radio"] {
  margin-right: 10px;
  display:inline-flex;
}

.order-type-container input[type="radio"]:checked + label {
  font-weight: bold;
  color: #db7b0e;
}

.order-type-container input[type="radio"]:focus + label {
  box-shadow: 0 0 5px #db7b0e;
}

.order-type-container input[type="radio"]:hover + label {
  color: #db7b0e;
}