

body {
  font-family: 'Barriecito', cursive;
  margin: 0;
  padding: 0;
  background-color: #db7b0e;
}

header {
  padding: 20px;
  background-color: #db7b0e; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  position: relative; 
}
h1 {
  margin: 0 0 10px; 
  font-size: 60px; 
  text-align: left; 
  font-family:'Barriecito', cursive; ;
margin-left: 40%;
color:#db7b0e;
}
.rolls-header h1 {
  font-size: 2.5em;
  color: #333;
  max-width: 75%;
}

.rolls-images {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  gap: 20px; 
  flex-wrap: wrap; 
  width: 65%; 
  position: absolute;
  top: 180px; 
  right: 20px; 
  margin: 0;
}

.rolls-image {
  display: flex;
  flex-direction: column; 
  align-items: center;
  border: 1px solid #ddd; 
  border-radius: 10px; 
  padding: 10px; 
  background-color: #f9f9f9; 
  transition: transform 0.2s;
  width: 210px;
}

.rolls-image img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.rolls-image img:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}
.rolls-image .details {
  font-size: 0.9em; 
  color: #777;
  margin-top: 10px; 
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .rolls-images {
    width: 100%; 
    flex-direction: column; 
    align-items: center; 
    position: relative; 
    top: auto; 
    right: auto; 
  }

  .rolls-image {
    width: 90%; 
  }
}
.menu {
  width:410px; 
  background-color: #111; 
  padding: 20px;
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100%; 
  overflow-y: auto; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
 
}

.menu h2 {
  text-align: center; 
  margin-bottom: 20px;
}

.menu ul {
  list-style-type: none; 
  padding: 0; 
}

.menu li {
  margin: 10px 0;
  transition: transform 0.3s ease; 
}

.Menu-item {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: #333; 
  transition: background-color 0.3s ease;
}

.Menu-image {
  width: 100px; 
  height: auto; 
  transition: transform 0.3s ease; 
}

.Menu-text {
  margin-left: 10px; 
  font-size: 18px; 
}

/* Hover effects */
.menu li:hover {
  transform: scale(1.05); 
}

.Menu-item:hover .Menu-image {
  transform: scale(1.1);
}

.Menu-item:hover {
  background-color: #db7b0e; 
  border-radius: 5px; 
}
body {
  margin: 0;
  font-family: Arial, sans-serif; 
}

.header-controls {
  position: fixed; 
  top: 0; 
  right: 0; 
  width: 66%; 
  background-color: #000;
  padding: 10px; 
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.Menu-header {
  margin-top: 60px; 
  width: 75%;
  margin-left: auto; 
  margin-right: auto; 
  overflow: hidden; 
}

.Menu-images {
  display: flex; 
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
}

.Menu-image {
  flex: 0 0 auto; 
  width: 200px; 
  margin-right: 10px; 
  scroll-snap-align: start; 
  text-align: center; 
}

.Menu-image img {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
}

.details {
  display: block; 
  margin-top: 5px; 
}
.cart-button {
  position: fixed; 
  top: 80px; 
  right: 40px; 
  padding: 15px 25px; 
  border: none; 
  background-color: #000; 
  color: white; 
  border-radius: 4px; 
 
  cursor: pointer; 
  z-index: 1000; 
}

.cart-button:hover {
  background-color: #db7b0e; 
}


 .add-to-cart {
  background-color: #db7b0e; /* Green background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  margin-top: 10px; /* Space above the button */
  font-size: 16px; /* Font size */
}

.add-to-cart:hover {
  background-color: #db7b0e; /* Darker green on hover */
}
 